nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #006B68;
  color: white;
}

h4 {
  margin: 0;
  font-size: 2rem;
}

button {
  background: transparent;
  outline: none;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Source Sans Pro';
}
