<navbar></navbar>
<app-loading></app-loading>
<!-- <div style="padding: 2rem; font-size: 1rem; font-family: 'Times New Roman'">
  <h3>
    Project Angular Challenge.
  </h3><br>

  <h4>- Yêu cầu: </h4><br>

  <p>Hoàn thiện các tính năng: </p><br>
  <p>+ Login/Logout (Không cần implement form đăng nhập chỉ cần giả lập click Login là đăng nhập luôn)</p><br>
  <p>+ Load danh sách Pokemon từ API </p><br>
  <p>+ Phân trang và tìm kiếm </p><br>
  <p>+ Like và dislike Pokemon (Dữ liệu sẽ được lưu lại trên browser lần sau đăng nhập sẽ load dữ liệu đó lên)</p><br>
  <p>
    Ảnh ví dụ: trong thư mục public
    + Thay thế toàn bộ text hướng dẫn này bằng <code>router-outlet</code> để bắt đầu.
  </p>
</div> -->

<router-outlet></router-outlet>
